# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

.cache
.python_history

# Flask
instance/
.webassets-cache
shop.db

# Virtual Environment
gtm_venv/
venv/
ENV/
env/

# Logs
*.log
flask.log
gtm_server.log

# IDE
.idea/
.vscode/
*.swp
*.swo
.vscode-server/

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Environment variables
.env
.flaskenv

# Static files that are generated
# static/images/

# Database migrations
migrations/


.dotnet/
.ssh/